# Python cache files
__pycache__/
tex_build/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.uv/

# ML/DL Model files and weights
*.pt
*.pth
*.ckpt
*.tar.gz

# Dataset files
data/

# VSCode
.vscode/

# Claude code
.claude/
CLAUDE.md

# macOS
.DS_Store

# Logs
*.log
logs/

#Wandb
wandb/
*/wandb/
